 .heading{font-family: 'Montserrat', sans-serif;}
.main_wrapper{margin: 20px auto;width: 640px;}
.f_bold{font-weight: bold;}
.f_16{font-size: 16px;}
.width_100{width: 100%;}
.margin_zero{margin:0}
.padding-zero{padding: 0;}
.service_area{box-shadow:0px 4px 4px rgb(0 0 0 / 6%);padding:15px;border:1px solid #ccc;border-radius: 6px;}
.flex_flow{display: flex;}
.align_center{align-items: center;}
.city_list li{width: 15%;margin: 0px 0 20px;}
.city_list{display: flex;list-style-type: none;margin:15px 0 0;padding:0;flex-flow: wrap;justify-content:space-between;}
.city_list li a{display: inline-block;border:1px solid #F27935;border-radius: 3px;color: #333;
    font-family: 'Nunito', sans-serif;text-decoration: none;padding: 6px 0px;width: 100%;
    box-sizing: border-box;text-align: center;background: #FFECE2;color: #F27935;}
.f_20{font-size: 20px;}
.servicing_areaxx{border-top: 1px solid rgb(204 204 204 / 50%);padding: 20px 0 0;}
.servicble_area{margin: 0;padding: 0;}
.servicble_area{margin:14px;list-style-type:none;font-family: 'Nunito';display: flex;justify-content: space-between;}
.servicble_area li{border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 13px;
    font-size: 14px;}
.active_bld{font-weight: bold;}


@media(max-width:768px){

    .main_wrapper{width: 98%;}
    .service_area{box-sizing: border-box;}
    .city_list li{width: 22%;}

}

